version: '3.8'

services:
  web:
    build: .
    command: gunicorn compass.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env

  redis:
    image: redis:7-alpine

  celery:
    build: .
    command: celery -A compass worker -l info
    depends_on:
      - redis
    env_file:
      - .env

  celery-beat:
    build: .
    command: celery -A compass beat -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler
    depends_on:
      - redis
    env_file:
      - .env
